  .btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  
  .form-container form{
    display: flex;
    flex-direction: column;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    height: fit-content;
    border: 1px solid black;
  }
  
  .form-container h1{
    margin: 0;
    padding: 0;
  }
  .form-container input{
    margin: 10px;
    padding: 5px;
  }
  
  .cancel-btn{
    background-color: red;
    border: 1px solid black;
    color: #fff;
    border-radius: 10px;
    padding: 5px 0;
    width: 100px;
    font-weight: 700;
  }
  
  .add-btn{
    background-color: rgb(0, 131, 168);
    border: 1px solid black;
    color: #fff;
    border-radius: 10px;
    padding: 5px 0;
    width: 100px;
    font-weight: 700;
  }